<div class="animate__animated animate__fadeIn">
    <h2>Por Pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onDebounce)="sugerencias( $event ) "
                             (onEnter)="buscar( $event ) "
                             placeholder="Bucar Pais..."
           ></app-pais-input>
        </div>
        <ul *ngIf="sugerencia"
            class="List-group">
            <li *ngFor="let paises of paisesSugeridos"
                class="list-group-item list-group-item-action">
                    <a  class="nav-link"  [routerLink]="['/pais',paises.alpha2Code]">{{paises.name}}</a>
            </li>
            <li
                class="list-group-item list-group-item-action"> 
                  <a class="nav-link" (click)="buscar(termino)"> Buscar "{{termino}}"</a>
            </li>
        </ul>
    </div>
    <hr>
</div>

<div *ngIf="hayError" class="alert alert-danger">
    Nose Encontro nada con el termino <strong>{{termino}}</strong>
</div>
<div *ngIf="paises.length" class="row">
    <div class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
    </div>
</div>
